%flex_center {
  display: flex;
}

.Login {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 700px;
  margin: 50px 0;

  .layoutCenter {
    width: 100%;
    max-width: 500px;
    margin: 20px 0;

    h1 {
      text-align: center;
      margin: 10px 0;
      color: #ff204b;
      font-size: 32px;
      font-weight: bold;
    }

    h2 {
      text-align: center;
      margin: 10px 0;
      font-size: 32px;
      font-weight: lighter;
    }

    form {
      display: flex;
      flex-direction: column;

      .input {
        margin: 3px 0;
      }

      .inputTextbox {
        height: 40px;
        margin: 5px 0;
        border-radius: 3px;
        border: 1px solid #e1e1e1;
      }

      .LoginBtn {
        height: 50px;
        margin: 6px 0;
        background-color: black;
        color: white;
        border: 1px solid black;
        border-radius: 3px;
        cursor: pointer;
      }

      .SignUpBtn {
        height: 50px;
        background-color: white;
        color: black;
        border: 1px solid black;
        border-radius: 3px;
        cursor: pointer;
      }

      .findContainer {
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;

        .findBox {
          padding: 0 5px;
          color: #666666;
        }
      }
    }
    .boundaryLine {
      margin: 20px 0;
      border-bottom: 1px solid #ccc;
    }

    .otherLogin {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px 0;

      label {
        text-align: center;
        font-size: 12px;
        font-weight: bolder;
      }
    }
    .wrap {
    }
    .logoContainer {
      display: flex;

      .googleLogoBox {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 280px;
        height: 50px;

        .imgBox {
          width: 28px;
          height: 28px;
          margin-right: 10px;

          img {
            width: 28px;
            height: 28px;
          }
        }
      }
      .facebookLogoBox {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 280px;
        height: 50px;
        background-color: #3b659f;
        border-radius: 5px;
        border: 1px solid #3b659f;
        margin: 3px;

        .imgBox {
          width: 28px;
          height: 28px;
          margin-right: 10px;
          background-color: #3b659f;

          img {
            width: 28px;
            height: 28px;
          }
        }

        .explanation {
          background-color: #3b659f;
        }
      }

      .googleLogoBox {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 280px;
        height: 50px;
        border-radius: 5px;
        border: 1px solid #bdbdbd;
        margin: 3px;

        .imgBox {
          width: 28px;
          height: 28px;
          margin-right: 10px;

          img {
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  }
  .appleLogobox {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    right: -120px;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    margin: 3px;

    .imgBox2 {
      width: 28px;
      height: 28px;
      margin-right: 10px;

      img {
        width: 28px;
        height: 28px;
      }
    }
  }
}
