.DetailItem {
  .noneDetailItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1300px;
    margin: 0 310px 0 310px;
    border: 3px solid red;
    .itemBox {
      display: flex;

      width: 95%;
    }
  }
}

.aside {
  width: 615px;
  border: 2px solid chartreuse;
  .pictureBox {
    width: 560px;
    height: 725px;
    // border: 3px solid green;
    .bigPictureBox {
      width: 100%;
      height: 605px;
      // border: 2px solid brown;
      .bigPicture {
        width: 100%;
      }
    }
    .pictureListBox {
      display: flex;
      height: 85px;
      // border: 2px solid black;
      .pictureList {
        img {
          width: 82px;
          height: 100%;
          margin-right: 13.6px;
        }
      }
    }
  }
}

.section {
  width: 100%;
  border: 2px solid brown;
  .header {
    display: flex;
    flex-direction: column;
    .storeBox {
      display: flex;
      margin-bottom: 10px;
      .store {
        width: 22px;
        height: 22px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .storeComment {
        display: flex;
        align-items: center;
        padding: 0 10px;
        font-size: 22px;
      }
    }
    .title {
      height: 80px;
      font-size: 28px;
    }
  }
  .article {
    display: flex;
    flex-direction: column;
    .priceBox {
      display: flex;
      // align-content: flex-end;
      align-items: flex-end;
      font-size: 34px;
      .discount {
        display: flex;
        align-items: center;
        color: #ff204b;
        padding: 0;
      }
      .discountPrice {
        position: relative;
        left: 5px;
      }
      .discountPriceWon {
        position: relative;
        left: 7px;
        bottom: 5px;
        font-size: 20px;
      }
      .price {
        position: relative;
        left: 15px;
        bottom: 5px;
        font-size: 20px;
        color: #c5c5c5;
      }
      .priceWon {
        position: relative;
        left: 17px;
        bottom: 7px;
        font-size: 12px;
        color: #c5c5c5;
      }
    }
    .reviewBox {
      display: flex;
      justify-items: center;
      align-items: flex-end;
      width: 100%;
      height: 24px;
      .starBox {
        width: 24px;
        height: 100%;
        margin: 0 3px;
        .star {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
