@mixin flexBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropDownContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 40px;

  .select2,
  .select1 {
    height: 50px;
    margin-top: 3px;
  }

  .select1 {
    position: relative;
    top: 5px;
  }
}

.footer {
  position: relative;
  top: 50px;

  .wrapPrice {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 60px;
    z-index: 999;

    .priceBox {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 0 30px;
      width: 100%;
      height: 44px;
      // border: 1px solid red;

      .priceComment {
        font-size: 20px;
      }
      .priceBox2 {
        display: flex;
      }
      .price {
        font-weight: 700;
        font-size: 30px;
        color: #ff204b;
      }
    }
  }
  .purchaseBox {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

    .directPurchase {
      @include flexBox;
      width: 240px;
      height: 56px;
      color: #ffffff;
      background-color: #1e1e1e;
      border-radius: 6px;
    }
    .logoContainer {
      @include flexBox;
      width: 240px;
      height: 56px;
      color: #fff;
      background-color: #00c73c;
      border-radius: 6px;

      img {
        width: 30px;
        height: 30px;
      }
    }
    .cartBox {
      @include flexBox;
      width: 56px;
      height: 56px;
      border: 1px solid #ebeef2;
      border-radius: 6px;

      img {
        width: 32px;
        height: 32px;
      }
    }
    .heartBox {
      @include flexBox;
      width: 56px;
      height: 56px;
      border: 1px solid #ebeef2;
      border-radius: 6px;

      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}
