.aside {
  width: 615px;

  .pictureBox {
    width: 560px;
    height: 725px;

    .bigPictureBox {
      width: 100%;
      height: 605px;

      .bigPicture {
        width: 100%;
      }
    }
    .pictureListBox {
      display: flex;
      height: 85px;

      .pictureList {
        img {
          width: 82px;
          height: 100%;
          margin-right: 13.6px;
        }
      }
    }
  }
}
