.ItemInfo {
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    .imgContainer {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .commentBox {
      padding-top: 100px;
      .comment {
        padding: 100px 0;
        font-size: 100px;
      }
      .description {
        font-size: 50px;
      }
    }
  }
}
