%none {
  width: 1300px;
  margin: 0 246px 0 246px;
}

.Footer {
  background-color: #1e1e1e;
  .none {
    @extend %none;
    height: 363px;

    color: #ffffff;
    .container {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      height: 136px;
      border-bottom: 1px solid #333333;

      .customerService {
        padding-left: 30px;

        .leftBox1 {
          font-size: 32.5px;
          font-weight: 700;
        }

        .leftBox2 {
          padding-top: 20px;
        }

        .time {
          color: #eeeeee;
          font-size: 13px;
          padding: 3px 0;
        }
      }
      .rightBox {
        display: flex;
        position: relative;
        align-items: center;
        top: -60px;
        padding-right: 30px;

        .snsBox {
          padding: 0 5px;
          .snsImg {
            width: 30px;
          }
        }
      }
    }
  }
}
