.SignUpInfo {
  display: flex;
  justify-content: center;
  width : 600px;
  form{
    display: flex;
    flex-direction: column;
    div{
      display: flex;
      flex-direction: column;
      margin: 5px 0;
    }
    .boundaryLine{
      margin-top: 10px;
      border-bottom: 1px solid black;
    }
  }
}