* {
  background-color: #ffffff;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 62px;
  border-bottom: 1px solid #bfbfbf;
}
