.shoppingContainerBox {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 99%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 3;

  .noneBox1 {
    display: flex;
    width: 900px;
    margin: 0 246px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);

    .shoppingContainer {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 15%;
      padding-left: 20px;
      background-color: rgba(255, 255, 255, 0.1);

      .mainTitle {
        padding-top: 20px;
        line-height: 50px;
        color: #000;
        font-size: 16px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.1);
      }
      .content {
        width: 100%;
        display: block;
        padding: 4.4px 0;
        line-height: 1.4em;
        color: #737373;
        font-size: 16px;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
